@import "tailwindcss";

.animate-better-pulse {
  animation: better-pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  &:nth-child(2) {
    animation-delay: 1.5s;
  }
}

@keyframes better-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
